/*
@font-face{
  font-family:VodafoneLight;
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonelt_ttf.ttf) format('truetype')
}
@font-face{
  font-family:VodafoneBold;
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafoneexbd_eot.eot);
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafoneexbd_eot.eot?#iefix) format('embedded-opentype'),
      url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafoneexbd_ttf.ttf) format('truetype');
      font-weight:400;
      font-style:normal
}
@font-face{
  font-family:VodafoneRgBold;
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_eot.eot);
  src:url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_eot.eot?#iefix) format('embedded-opentype'),
      url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_ttf.ttf)format('truetype'),
      url(//assets.vodafone.co.uk/cs/groups/public/documents/fonts/vodafonergbd_svg.svg) format('svg');
      font-weight:400;
      font-style:normal
}
*/
@font-face{
    font-family:VodafoneRegular;
    src:url('vodafone-regular.eot');
    src:url('vodafone-regular.eot?#iefix') format('embedded-opentype');
    font-style:normal;
}

body{
    font-family:VodafoneRegular,Helvetica Neue,Helvetica !important;
}

/*Code to make most part of the Form Right To Left*/
.rightToLeft {
    direction: rtl !important;
    text-align: right !important;
}

/*Taking Cancel and Submit Button to the Left Side.*/
.rightToLeft div div div .footer-right-buttons{
    float: left !important;;
}

/*To set Submit button as red(E60000)*/
.submit-btn{
    background-color: #E60000 !important;
}

/*This code will Move Screen Capture button to right side.*/
.rightToLeft div div div .screen-capture{
    float: right !important;
}

/*This code is to make Medallia Logo Centered*/
#liveForm .rightToLeft div .kpl-form-footer{
    text-align: left !important;
    padding-left: 15px !important;
}

/*Changes Question Labels Right to Left*/
#liveForm .rightToLeft .pageRepeater .kplFormHolder .commonLabel {
    text-align: right !important;
}

/*To take anchor text to proper place for RTL*/
.rightToLeft neb-rating .neb-rating .edge-labels #rightEdge{
    float: left !important;
}

/*Reducing the space between all of the elements to make survey size small*/
.neb-component.neb-web-component.kplFormHolder {
    margin-bottom: 25px !important;
}
.neb-mobile-web .neb-component.neb-web-component.kplFormHolder {
    margin-bottom: 30px !important;
}
.neb-mobile-web .has-error .error {
    margin-top: 28px;
}
#liveForm .kpl_builder.neb-spacing .fb-form-object.ng-scope:last-child{
    padding-bottom: 10px !important;
}

/*Setting Dynamic Font size in em*/
.sans-md-regular, #liveForm, #liveForm .kpl_builder .pageRepeater .form-horizontal .control-label, #liveForm .kpl_builder .kpl-thankYouHolder .form-horizontal .control-label, .fieldSettingsPopover, .pageSettings, .fieldSettingsPopover .form-control, .pageSettings .form-control, .fieldSettingsPopover .form-control .form-control, .pageSettings .form-control .form-control{
    font-size: 1.08em !important;
}
.btn{
    font-size: 1em !important;
}

/*Adjusts RadioButton labels for Checkbox on right side*/
#liveForm .rightToLeft .pageRepeater .kplFormHolder md-radio-group .radio ._md-label {
    margin-right: 30px;
}

/*Moves Radio Buttons to the right side*/
#liveForm .rightToLeft .pageRepeater .kplFormHolder md-radio-group .radio ._md-container{
    left:inherit !important;
}

/*Moves Checkboxes to Right Side*/
#liveForm .rightToLeft .pageRepeater .kplFormHolder .checkbox ._md-container{
    left:inherit !important;
}

/*Adjusts CHeckbox labels for Checkbox on right side*/
#liveForm .rightToLeft .pageRepeater .kplFormHolder .checkbox ._md-label{
    margin-right: 30px;
}

/*Adjusts the Medallia logo at the button to make sure it stays at the fixed place*/
#liveForm .kpl_builder .rightToLeft .kpl-form-footer{
    direction:  ltr !important;
    margin-right: inherit !important;
    padding-right: 0px !important;
}

/*Adjusts Error msgs to Right align*/
#liveForm .rightToLeft div div .pageRepeater div div div[class*="kplFormHolder"] div label{
    text-align: right !important;
}

.img-responsive{
    width: 15%;
    float: left;
    margin-bottom: 20px;
}

.neb-rating-value.ng-scope{
  margin: 0.5%;
}
.neb-rating.stars .neb-rating-value.ng-scope, 
.neb-rating.smilies .neb-rating-value.ng-scope, 
.neb-rating.numbers .neb-rating-value.ng-scope,
.neb-rating.bars .neb-rating-value.ng-scope,
.neb-rating.emoticons .neb-rating-value.ng-scope {
  margin:0 !important;
}
/*Vodafone color for Radio Buttons*/
.neb-content md-radio-group div.radio md-radio-button ._md-on{
    background-color: #E60000 !important;
}
/*Vodafone color for Checkboxes*/
.neb-content .md-checked ._md-icon{
    background-color: #E60000 !important;
}

/*Removes background Image from NPS Scale*/
.neb-rating.numbersSquare label{
    background-image: none !important;
}
.neb-rating.numbersCircle label{
    background-image: none !important;
}

/*Displays Numbers without Background image*/
.neb-website-grading1to7 .numbersSquare label .native-display-value-in-rating,
.neb-website-grading0to10 .numbersSquare label .native-display-value-in-rating {
    display: block !important;
    padding-top: 0px !important;
}
.neb-website-nps .numbersSquare label .native-display-value-in-rating {
    display: block !important;
    padding-top: 5px !important;
}
.numbersCircle label .native-display-value-in-rating{
    display: inline !important;
}

/*Make LTR Scales Responsive*/
div.neb-rating.numbersSquare, .numbersCircle{
    width: 100% !important;
}
.neb-rating.numbersSquare .neb-rating-value,.neb-rating.numbersCircle .neb-rating-value{
    width: 8% !important;
}
neb-rating .neb-rating .neb-rating-value label.rating-label{
    width: 100% !important;
}

/*Show Background Color for NPS Questions*/
.numbersSquare form span span[class*="neb-rating-value"] label{
    background-color: #efefef !important;
    text-align: center;
}
.numbersCircle form span span[class*="neb-rating-value"] label{
    background-color: #efefef !important;
    text-align: center;
}

/*Centering Text in NPS Scales*/
.ng-scope #liveForm div div .pageRepeater div div div[class*="kplFormHolder"] div label[class*="rating-label"]{
    text-align: center !important;
}

.kplFormHolder div.neb-website-nps .numbersCircle label, .kplFormHolder div.neb-website-grading0to10 .numbersSquare label{
    padding-top: 5px !important;
    text-align:center !important;
}

/*Setting Hover Color for NPS Scale*/
.numbersSquare form span span[class*="neb-rating-value"] label.hover{
    background-color: #E60000 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
.numbersCircle form span span[class*="neb-rating-value"] label.hover{
    background-color: #E60000 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

/*Setting Selected Color for NPS*/
.numbersSquare form span span[class*="neb-rating-value"] label.selected{
    background-color: #E60000 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
.numbersCircle form span span[class*="neb-rating-value"] label.selected{
    background-color: #E60000 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

/*Setting backward selection Color*/
.numbersSquare form span span[class*="neb-rating-value"] label.on{
    background-color: #E60000 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}
.numbersCircle form span span[class*="neb-rating-value"] label.on{
    background-color: #E60000 !important;
    color: #ffffff !important;
    font-weight: bold !important;
}

/*Will take LTR edge labels Anchor to top*/
.ng-scope div div neb-rating .neb-rating .edge-labels{
    margin-top: -60px;
    top:0px;
}

/*Changing font size for Anchor text*/
span#leftEdge,span#rightEdge{
    font-size: 1.1em !important;
}

/*Setting Vodafone Logo*/
#liveForm div div div .pageRepeater div[class*="ng-pristine"]:first-child{
    padding-top: 80px;
    background-image: url('https://assets.kampyle.com/resources/clients/VF/New_VF_Icon_RGB_RED.png');
    background-repeat: no-repeat;
    background-size: 70px;
    background-position-y: 15px;
    background-position-x: 20px;
}
#liveForm .redBackground div div .pageRepeater div[class*="ng-pristine"]:first-child{
    padding-top: 80px;
    background-image: url('https://nebula-cdn.kampyle.com/we/66119/resources/image/1518798536423_VF-header-redbackground.png');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-y: 0px;
    background-position-x: 0px;
}
#liveForm .noLogo div div .pageRepeater div[class*="ng-pristine"]:first-child{
    padding-top: inherit;
    background-image: none;
    background-repeat: no-repeat;
    background-size: inherit;
    background-position-y: inherit;
    background-position-x: inherit;
}

/*Vodafone logo on Thank you page*/
.logoPreview{
    padding-top: 100px;
    background-image: url('https://assets.kampyle.com/resources/clients/VF/New_VF_Icon_RGB_RED.png');
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}
/*For Invitation Page*/
.imageContainer{
    background-image: url('https://assets.kampyle.com/resources/clients/VF/New_VF_Icon_RGB_RED.png');
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}

/* To reduce the space below the text module */
.pageRepeater .ng-scope:nth-last-child(2) > .neb-label{
    margin-bottom: -20px !important;
}

/*To remove the asterisk*/
/*.fa.fa-asterisk {
    display: none;
}*/

/*To Add Title on right side of Node if First element is text element*/
/*Disabling it for red Background*/
.redBackground .pageRepeater .ng-scope:first-child > .neb-label,.noLogo .pageRepeater .ng-scope:first-child > .neb-label{
  margin-bottom: inherit !important;
  position: inherit !important;
  top: inherit;
  height: inherit !important;
  font-size: inherit;
  width: inherit;
  padding: inherit !important;
  margin-left: 30px;
}
.titleText .pageRepeater .ng-scope:first-child > .neb-label{
  margin-bottom: -87px !important;
  position: relative !important;
  top: -85px;
  height: 90px !important;
  font-size: 1.6em;
  width: 70%;
  padding: 0px !important;
  margin-left: 100px;
}
/*Disabling it for red Background*/
.redBackground .pageRepeater .ng-scope:first-child > .neb-label > div , .noLogo .pageRepeater .ng-scope:first-child > .neb-label > div{
    height: inherit !important;
    margin-top: inherit;
    margin-bottom: inherit;
    vertical-align: inherit;
    display: inherit;
}
.titleText .pageRepeater .ng-scope:first-child > .neb-label > div{
    height: 100% !important;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    display: table;
}
/*Disabling it for red Background*/
.redBackground .pageRepeater .ng-scope:first-child > .neb-label > div > p,.noLogo .pageRepeater .ng-scope:first-child > .neb-label > div > p{
    height: inherit;
    vertical-align: inherit !important;;
    display: inherit;
    margin-bottom: inherit !important;
}
.titleText .pageRepeater .ng-scope:first-child > .neb-label > div > p{
    height: 110%;
    vertical-align: middle !important;;
    display: table-cell;
    margin-bottom: 0px !important;
}
.redBackground.rightToLeft .pageRepeater .ng-scope:first-child > .neb-label,.noLogo.rightToLeft .pageRepeater .ng-scope:first-child > .neb-label{
  margin-bottom: inherit !important;
  position: inherit !important;
  top: inherit;
  height: inherit !important;
  font-size: inherit;
  width: inherit;
  padding: inherit !important;
  margin-right: 30px !important;
  margin-left: inherit !important;
}
.rightToLeft.titleText .pageRepeater .ng-scope:first-child > .neb-label{
  margin-bottom: -87px !important;
  position: relative !important;
  top: -85px;
  height: 90px !important;
  font-size: 1.6em;
  width: 70%;
  padding: 0px !important;
  margin-right: 25px !important;
  margin-left: 90px !important;
}
.redBackground.rightToLeft .pageRepeater .ng-scope:first-child > .neb-label > div,.noLogo.rightToLeft .pageRepeater .ng-scope:first-child > .neb-label > div{
    height: inherit !important;
    margin-top: inherit;
    margin-bottom: inherit;
    vertical-align: inherit;
    display: inherit;
}
.rightToLeft.titleText .pageRepeater .ng-scope:first-child > .neb-label > div{
    height: 100% !important;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    display: table;
}
.redBackground.rightToLeft .pageRepeater .ng-scope:first-child > .neb-label > div > p,.noLogo.rightToLeft .pageRepeater .ng-scope:first-child > .neb-label > div > p{
    height: inherit;
    vertical-align: inherit !important;;
    display: inherit;
    margin-bottom: inherit !important;
}
.rightToLeft.titleText .pageRepeater .ng-scope:first-child > .neb-label > div > p{
    height: 110%;
    vertical-align: middle !important;;
    display: table-cell;
    margin-bottom: 0px !important;
}

/*Remove close button if noCloseButton is selected*/
.noCloseButton .thankYouPageButtonPreview{
    display: none !important;
}
.noCloseSurveyButton .cancel-btn{
  display: none !important;
}
.numbersCircle span span label input,.numbersSquare span span label input{
   display: none !important;
}
/*Fix for appUA - If UA is changed for app, the code below will fix the form width*/
.appUA-hotfix{
    width: 100% !important;
}
 /* Fix for the larger labels on smaller devices. Use the Custom CSS class "label-wrap" for the changes */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
  div.label-wrap div.edge-labels {
    margin-top:-70px !important;
    top: -5px;
  }
  div.label-wrap div.edge-labels span#rightEdge {
    max-width: 40%;
    flex-wrap: wrap;
    text-align: right;
  }
  div.label-wrap div.edge-labels span#leftEdge {
    display: inline-flex;
    max-width: 35%;
    flex-wrap: wrap;
    text-align: left;
  }
}

@media only screen and (min-width : 300px) and (max-width : 360px) {
 .ng-scope div div neb-rating .neb-rating .edge-labels {
    margin-top:-70px !important;
    top: -5px;
  }
  div.label-wrap div.edge-labels span#rightEdge {
    max-width: 40%;
    flex-wrap: wrap;
    text-align: right;
  }
  div.label-wrap div.edge-labels span#leftEdge {
    display: inline-flex;
    max-width: 35%;
    flex-wrap: wrap;
    text-align: left;
  } 
}
/******************************************************************/
/* 7 point scale settings */
.neb-website-grading1to7 .neb-rating.numbersSquare .neb-rating-value {
  width: 12.5% !important;
}
/* Edge-Labels */
.neb-website-grading1to7 .edge-labels{
    width: 98%;
}
/*Displays Numbers without Background image*/
.neb-website-grading1to7 .numbersSquare label .native-display-value-in-rating{
    display: block !important;
    padding-top: 5px !important;
}

/* Fix for mobile devices where the content overflows the viewport because of inline styles set to fixed width */
#liveForm .kpl_builder.dig-embedded-live {
  max-width:100%;
}
#liveForm .kpl_builder {
    width: 100% !important;
    max-width: 450px;
}
#liveForm .kpl_builder .modal-live-form {
    height: calc(100% - 150px) !important;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 0px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

div._md-container.md-ink-ripple::before,
div._md-container.md-ink-ripple::after {
  display:none;
}
